@import '../core/_utils';

.app {
  align-content: center;
  background-color: $dark-color;
  color: $white-color;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  padding-top: pxToRem(80);
  position: relative;
  width: 100%;

  &_content {
    display: inline-block;
    max-width: pxToRem(768);
    padding: 0 pxToRem(8);
    width: 100%;
  }
}
