@import '../../sass/core/_utils';

.cardTodo {
  box-shadow: 0 0 pxToRem(2) 0 $white-color;
  background-color: $color-dark-gray;
  border-radius: pxToRem(4);
  font-weight: 400;
  margin: pxToRem(20) auto pxToRem(30);
  position: relative;

  &_closeBtn {
    &.btn {
      border-radius: 50%;
      background-color: red;
      border-color: $color-gray;
      font-size: pxToRem(12);
      font-weight: 600;
      padding: pxToRem(6) pxToRem(8);
      position: absolute;
      right: pxToRem(-8);
      top: pxToRem(-8);
      text-align: center;
    }
  }

  &_content {
    padding: pxToRem(12);

    &_title {
      font-size: pxToRem(16);
      font-weight: 500;
      text-transform: capitalize;

      @media(min-width: pxToRem(768)) {
        font-weight: pxToRem(20);
      }
    }
  }

  &_checkBox {}
}
