@import '../../sass/core/_utils';

.cardTodo {
  box-shadow: 0 0 pxToRem(2) 0 $white-color;
  background-color: $color-dark-gray;
  border-radius: pxToRem(4);
  font-weight: 400;
  margin: pxToRem(20) auto pxToRem(30);
  position: relative;

  &_closeBtn {
    transition: transform .15s ease-in-out;
    &.btn {
      border-radius: 50%;
      background-color: red;
      border-color: $color-gray;
      font-size: pxToRem(12);
      font-weight: 600;
      padding: pxToRem(6) pxToRem(8);
      position: absolute;
      right: pxToRem(-8);
      top: pxToRem(-8);
      text-align: center;
    }

    &:hover {
      transform: scale(.92);
    }
  }

  &_content {
    padding: pxToRem(12);

    &_title {
      font-size: pxToRem(16);
      font-weight: 500;
      text-transform: capitalize;
      transition: text-decoration .15s ease-in-out;
      word-break: break-all;

      @media(min-width: pxToRem(768)) {
        font-weight: pxToRem(20);
      }
    }
  }

  &_grid {
    align-items: center;
    display: flex;

    &_check {
      max-width: pxToRem(44);
      padding-right: pxToRem(4);
    }

    &_content {
      @include calc(max-width, '100% - #{pxToRem(80)}', null);
    }
  }

  &.finished {
    .cardTodo_content_title {
      text-decoration: line-through;
    }
  }
}
